{% load jira_filters %}


<thead>
<tr class="Anuket-Text">
    <th>Owner</th>
    <th>Purpose</th>
    <th>Project</th>
    <th>Start</th>
    <th>End</th>
    <th>Operating System</th>
</tr>
</thead>
<tbody>
{% for booking in bookings %}
    <tr class="Anuket-Text">
        <td>
            {{ booking.owner.username }}
        </td>
        <td>
            {{ booking.purpose }}
        </td>
        <td>
            {{ booking.project }}
        </td>
        <td>
            {{ booking.start }}
        </td>
        <td>
            {{ booking.end }}
        </td>
        <td>
            {{ booking.resource.get_head_node.config.image.os.name }}
        </td>
    </tr>
{% endfor %}
</tbody>
