{% extends "base/booking/quick_deploy.html" %}
{% block opnfv %}
{% endblock opnfv %}
{% block form-text %}
<p class="my-0">
    Please select a host type you wish to book.
    Only available types are shown.
    More information can be found here:
    <a href="https://wiki.lfedge.org/display/LE/Shared+Community+Lab">LF Edge Wiki</a>.
    If something isn't working right, let us know <a href="mailto:{{contact_email}}"> here! </a> 
</p>
{% endblock form-text %}
{% block collab %}
<div class="col-12 col-lg-4 my-2">
    <div class="col border rounded py-2 h-100">
        <label>Collaborators</label>
        {{ form.users }}
    </div>
</div>
{% endblock collab %}

{% block image_script %}
    <script type="text/javascript">
        document.getElementById("id_image").disabled = true;
        document.getElementById("id_image").style.display = 'none';
        document.getElementById("id_image").previousElementSibling.style.display = 'none';
    </script>
{% endblock image_script %}
